<div class="row">
  <div class="col-sm-3">
    <div class="block-item-list block">
      <h3 class="title">
        <span><%= t "common.categories" %></span>
      </h3>
      <div class="clearfix body">
        <div class="category-list">
          <a class="btn btn-default col-lg-6 col-md-12 active" href="#">
            <span><%= t "common.category.all" %></span>
            <span class="badge">11</span>
          </a>
          <a class="btn btn-default col-lg-6 col-md-12"
             href="#">
            <span><%= t "common.category.snack" %></span>
            <span class="badge">4</span>
          </a>
          <a class="btn btn-default col-lg-6 col-md-12" href="#">
            <span><%= t "common.category.drink" %></span>
            <span class="badge">4</span>
          </a>
          <a class="btn btn-default col-lg-6 col-md-12" href="#">
            <span><%= t "common.category.rice" %></span>
            <span class="badge">5</span>
          </a>
          <a class="btn btn-default col-lg-6 col-md-12" href="#">
            <span><%= t "common.category.bread" %></span>
            <span class="badge">4</span>
          </a>
          <a
          class="btn btn-default col-lg-6 col-md-12" href="#">
            <span><%= t "common.category.service" %></span>
            <span class="badge">2</span>
          </a>
          <a class="btn btn-default col-lg-6 col-md-12" href="#">
            <span><%= t "common.category.others" %></span>
            <span class="badge">5</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Begin carousel -->
  <div class="col-sm-9">
    <div id="id_top_products" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <% @shops.each_with_index do |shop, index| %>
          <div class="<%= index == 0 ? 'item active' : 'item' %>">
            <%= image_tag shop.avatar.url, alt: t('common.chania') %>
            <div class="carousel-caption">
              <h3><%= shop.name %></h3>
              <p><%= shop.description %></p>
            </div>
          </div>
        <% end %>
      </div>
      <a class="left carousel-control" href="#id_top_products" role="button"
         data-slide="prev">
        <span class="fa fa-angle-left" aria-hidden="true"></span>
        <span class="sr-only"><%= t "common.previous" %></span>
      </a>
      <a class="right carousel-control" href="#id_top_products" role="button"
         data-slide="next">
        <span class="fa fa-angle-right" aria-hidden="true"></span>
        <span class="sr-only"><%= t "common.next" %></span>
      </a>
    </div>
  </div>
  <!-- End carousel -->
</div>


<h2 class="section_title"><%= t "common.top_shops" %></h2>

<div class="col-md-12 magin_top_10px" id="id_shops_list">
  <% @shops.each do |shop| %>
    <div class="block row block-shop-feed-item">
      <div class="col-xs-2">
        <div class="row thumbnail">
          <%= image_tag shop.avatar.url %>
        </div>
      </div>
      <div class="col-xs-10">
        <div class="row content">
          <h3><%= link_to shop.name, shops_path(shop) %></h3>
          <%= render "layouts/temp_star" %>
          <div class="description quote"><%= shop.description %></div>
          <div class="category">
            <ul class="nav">
              <li>
                <a href="#"><%= t "common.category.bread" %></a>
              </li>
              <li>
                <a href="#"><%= t "common.category.rice" %></a>
              </li>
              <li>
                <a href="#"><%= t "common.category.snack" %></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="btn_view_all_wrapper">
  <button class="btn btn_view_all btn_view_all_shops">
    <%= t "common.btn_view_all" %>
  </button>
</div>

<h2 class="section_title">
  <%= t "common.top_products" %>
</h2>

<div class="col-md-12 magin_top_10px" id="id_products_list">
 <% @products.each_with_index do |product, index| %>
   <div class="product_item_wrapper">
     <div class="poster_info_area padding_5px">
       <div class="avatar_area float_left">
          <%= link_to image_tag(product.image_url), class: "gravatar img-circle" %>
        </div>
       <div class="poster_content_area">
         <%= link_to product.user.name, "#" %>
         <span>
           <%= t "common.owner_of" %>
           <%= link_to product.shop_name, shops_path(product.shop) %>
         </span>
       </div>
     </div>
     <div class="product_content_area">
        <%= link_to image_tag(product.image_url), class: "book_cover" %>
        <div class="product_text">
         <%= product.description %>
        </div>
     </div>
     <div class="interaction_area">
       <button class="btn btn_order">
         <%= t "common.btn_order_now" %>
       </button>
       <button class="btn btn-default btn_add_favorite">
         <%= t "common.btn_add_to_favorite" %>
       </button>
     </div>
   </div>
  <% end %>
</div>

<div class="btn_view_all_wrapper">
  <button class="btn btn_view_all btn_view_all_products">
    <%= t "common.btn_view_all" %>
  </button>
</div>
