<div class="row">
  <div class="col-sm-3">
    <div class="block-item-list block">
      <h3 class="title">
        <span><%= t "common.categories" %></span>
      </h3>
      <div class="clearfix body">
        <div class="category-list">
          <%= link_to products_path,
            class: "btn btn-default col-lg-6 col-md-12 active" do %>
            <span><%= t "common.category.all" %></span>
          <% end %>
          <% @catogories.each do |category|%>
            <% cache category do %>
              <%= link_to category_path(category),
                class: "btn btn-default col-lg-6 col-md-12 active" do %>
                <span><%= category.name %></span>
                <span class="badge"><%= category.products.size %></span>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="block-item-list block">
      <h3 class="title">
        <span><%= t "common.tags" %></span>
      </h3>
      <div class="clearfix body">
        <div class="category-list">
          <%= link_to products_path,
            class: "btn btn-default col-lg-6 col-md-12 active" do %>
            <span><%= t "common.category.all" %></span>
          <% end %>
          <% @tags.each do |tag|%>
            <% if tag.taggings_count > 0 %>
              <%= link_to tag_path(tag),
                class: "btn btn-default col-lg-6 col-md-12 active" do %>
                <span><%= tag.name %></span>
                <span class="badge"><%= tag.taggings_count %></span>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <!-- Begin carousel -->
  <div class="col-sm-9">
    <div id="id_top_products" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <% @shops.each_with_index do |shop, index| %>
          <div class="<%= index == 0 ? 'item active' : 'item' %>">
            <%= image_tag shop.cover_image.url, alt: shop.name %>
            <div class="carousel-caption">
              <h3><%= shop.name %></h3>
              <p><%= shop.description %></p>
            </div>
          </div>
        <% end %>
      </div>
      <a class="left carousel-control" href="#id_top_products" role="button"
         data-slide="prev">
        <span class="fa fa-angle-left" aria-hidden="true"></span>
        <span class="sr-only"><%= t "common.previous" %></span>
      </a>
      <a class="right carousel-control" href="#id_top_products" role="button"
         data-slide="next">
        <span class="fa fa-angle-right" aria-hidden="true"></span>
        <span class="sr-only"><%= t "common.next" %></span>
      </a>
    </div>
  </div>
  <!-- End carousel -->
</div>

<div class="row">
  <h2 class="section_title">
    <%= t "common.top_shops" %>
    <div class="btn_view_all_wrapper pull-right">
      <%= link_to t("common.btn_view_all"), shops_path,
        class: "btn btn_view_all btn-warning" %>
    </div>
  </h2>

  <div class="col-md-12 magin_top_10px" id="id_shops_list">
    <%= render @shops %>
  </div>
</div>

<div class="row">
  <h2 class="section_title">
    <%= t "common.top_products" %>
    <div class="btn_view_all_wrapper pull-right">
      <%= link_to t("common.btn_view_all"), products_path,
        class: "btn btn_view_all btn-warning" %>
    </div>
  </h2>

  <div class="col-md-12 magin_top_10px" id="id_products_list">
    <%= render @products %>
  </div>
</div>
