<div class="cart-item">
  <% @cart.items.each do |item| %>
    <li id="item-<%= item.product_id %>">
      <span class="item">
        <span class="item-left product-thumbnail">
          <%= image_tag item.product.image.url %><br>
          <%= item.product.name %>
        </span>
        <span class="item-left item-infor">
          <table class="table">
            <thead>
              <tr>
                <th><%= t "cart.quantity" %></th>
                <th><%= t "cart.price" %></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><span><%= item.quantity %></span></td>
                <td><span><%= item.total_price %> <%= t "cart.vnd" %></span></td>
                <td>
                  <span class="item-right">
                    <%= link_to t("cart.delete"), cart_path(item.product_id),
                      method: :delete, remote: true,
                      class: "btn btn-xs btn-danger pull-right" %>
                  </span>
                  <%= link_to t("cart.sub"), edit_cart_path(item.product),
                    remote: true, class: "pull-right btn btn-xs btn-primary" %>
                  <%= link_to t("cart.add"), cart_path(item.product), remote: true,
                    method: :put, class: "pull-right btn btn-xs btn-primary" %>
                </td>
              </tr>
            </tbody>
          </table>
        </span>
      </span>
    </li>
  <% end %>
</div>
