<% @events.each do |event| %>
  <div class="notification-body">
    <span role="presentation" class="">
        <div class="row <%= bg_unread event %> mark-read" data-id="<%= event.id %>">
          <div class="col-md-3">
            <%= link_to event.get_link_redirect do %>
              <span class="item-left product-thumbnail">
                <%= image_tag event.get_link_img %></span>
            <% end %>
          </div>
          <div class="col-md-9 message-notification">
            <span class="text-center">
              <%= link_to event.load_message,
                event.get_link_redirect %></span>
          </div>
        </div>
    </span>
  </div>
<% end %>
