<div class="page-content">
  <% if @cart_shop.present? %>
    <div class="container">
      <div class="row">
        <%= render "order_products", order_products: @cart_shop.items %>
        <div class="pull-left">
          <div class="col-md-4">
            <%= simple_form_for @order do |f| %>
              <%= f.submit t("create_order"), data: {confirm: t("confirm")},
                class: "btn btn-primary margin_order" %>
              <%= hidden_field_tag :shop_id, @shop.id %>
            <% end %>
          </div>
        </div>
        <div class="pull-right">
          <h4 class="style_price">
            <b><%= t "oder.total" %></b>
            <%= format_price @cart_shop.total_price %>
            </h4>
        </div>
      </div>
    </div>
  <% end %>
</div>
