<div class="page-content">
  <% if @cart.present? %>
    <div class="container">
      <div class="row">
        <%= render "order_products", order_products: @cart.items %>
        <div class="pull-right">
          <h4><b><%= t "oder.total" %>: </b>
            <%= @cart.total_price %> <%= t "cart.vnd" %> </h4>
        </div>
      </div>
      <%= simple_form_for @orders do |f| %>
       <%= f.input :notes, class: "form-control" %>
       <%= f.submit data: {confirm: t("oder.confirm")}, class: "btn btn_order" %>
      <% end %>
    </div>
  <% end %>
</div>
