<div class="page-content">
  <% if @cart_shop.present? %>
    <div class="container">
      <div class="row">
        <%= render "order_products", order_products: @cart_shop.items %>
        <div class="pull-right">
          <h4><b><%= t "oder.total" %></b>
          <%= @cart_shop.total_price %>
        </div>
      </div>
      <div>
        <%= simple_form_for @order do |f| %>
          <div class="form-group">
            <%= f.input :notes, input_html: {class: "form-control"} %>
          </div>
          <%= f.submit data: {confirm: t("oder.create_order")}, class: "btn btn-primary" %>
          <%= hidden_field_tag :shop_id, @shop.id %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
