<div class="cart-item-show">
  <h3 class="col-md-offset-1 total-cart text-success">
    <b><%= t ".total" %>:</b><%= @cart.total_price %> <%= t"cart.vnd" %> </h3><hr>
  <% @cart_group.each do |cart| %>
    <div class="panel-body">
      <div class="col-md-12 magin_top_10px">
        <% cart[:items].each do |item| %>
          <div class="col-md-4 col-md-offset-1">
            <%= image_tag item.product.image.url, class: "image-shop" %>
            <h4 class="media-heading">
              <%= item.product.name %>
            </h4>
            <div class="media">
              <div class="media-body">
                <span class="text-success">
                  <strong><%= t "products.status" %></strong></span>
                <span class="text-success"><strong></strong></span>
              </div>
            </div>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th><%= t "cart.quantity" %></th>
                  <th class="text-center"><%= t "cart.price" %></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="col-sm-2 col-md-2">
                    <%= item.quantity %>
                  </td>
                  <td class="col-sm-3 col-md-3 text-center">
                    <strong> <%= t "cart.vnd" %> <%= item.total_price %></strong></td>
                </tr>
                <tr>
                  <td></td>
                  <td>
                    <span class="item-right">
                      <%= link_to t("cart.delete"), cart_path(item.product_id),
                        method: :delete, remote: true,
                        class: "btn btn-xs btn-danger pull-right" %>
                    </span>
                    <%= link_to t("cart.sub"), edit_cart_path(item.product), remote: true,
                      class: "pull-right btn btn-xs btn-primary" %>
                    <%= link_to t("cart.add"), cart_path(item.product), remote: true,
                      method: :put, class: "pull-right btn btn-xs btn-primary" %>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        <% end %>
      </div>
      <div class="col-md-2">
        <% if cart.present? %>
          <%= link_to t("oder.btn_oder"), new_order_path(shop_id: cart[:shop_id]), class: "btn btn_add_to_cart" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
