<div class="container">
  <div class="panel panel-default">
    <div class="panel-body"><h2><%= @product.name %></h2></div>
    <table class="table">
      <thead>
        <tr class="info">
          <th><%= t "dashboard.product.show.name" %></th>
          <th><%= t "dashboard.product.show.quantity" %></th>
          <th><%= t "dashboard.product.show.price" %></th>
          <th><%= t "dashboard.product.show.total" %></th>
        </tr>
      </thead>
      <% @order_products.each do |order| %>
        <tbody>
          <tr class="success">
            <td>
              <%= order.user_name %>
            </td>
            <td>
              <%= order.quantity %>
            </td>
            <td>
              <%= @product.price %>
            </td>
            <td>
              <%= total_price @product.price, order.quantity %>
            </td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
</div>
