<h1 class="text-center"><%= t ".tittle" %></h1>
<div class="panel panel-danger">
  <div class="panel-body">
    <%= render "search_current" %>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <%= render "chart" %>
  </div>
</div>
<div class="panel panel-danger">
  <div class="panel-body">
    <%= render "search_between" %>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body chart_between">
    <%= render "chart_between" %>
  </div>
</div>
