<%= simple_form_for [:dashboard, @shop] do |f| %>
  <%= render "shared/error_messages", object: @shop %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: t(".shop_name"),
      error: t(".shop_name_error") , class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, placeholder: t(".shop_description"),
      error: t(".shop_description_error"), class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :time_auto_reject_order %>
    <%= f.time_select :time_auto_reject, minute_step: Settings.minute_step %>
  </div>
  <div class="form-group">
    <%= f.label :avatar %>
    <%= f.file_field :avatar, accept: Settings.pictures.accepted_files %>
  </div>
  <div class="form-group">
    <%= f.label :cover_image %>
    <%= f.file_field :cover_image, accept: Settings.pictures.accepted_files %>
  </div>
  <%= link_to t("common.back_button"), :back, class: "btn btn-warning" %>
  <%= f.submit yield(:submit_button),
    class: "btn btn-primary space-top-submit" %>
<% end %>
