<div class="block row block-shop-feed-item">
  <div class="col-xs-2">
    <div class="row thumbnail">
      <%= link_to dashboard_shop_path(shop) do %>
        <%= image_tag shop.avatar.url %>
      <% end %>
    </div>
  </div>
  <div class="col-xs-10">
    <div class="row content">
      <h3><%= link_to shop.name, dashboard_shop_path(shop) %></h3>
      <input id="shop-average-rating" type="number"
        class="rating-loading star-rating" data-size="sm"
        value=<%= shop.averate_rating %> >
      <div class="description quote"><p><%= shop.description %></p></div>
    </div>
  </div>
</div>
