<div class="col-sm-5 block row block-shop-feed-item">
  <div class="col-md-4 shop_image">
    <div class="row thumbnail shop_width">
      <%= link_to dashboard_shop_path(shop) do %>
        <%= image_tag shop.avatar.url %>
      <% end %>
    </div>
  </div>
  <div class="col-md-8 shop_text">
    <div class="row">
      <h3>
        <%= link_to shop.name, dashboard_shop_path(shop) %>
      </h3>
      <%= render "shared/shop_status_label", shop: shop %>
      <input id="shop-average-rating" type="number"
        class="rating-loading star-rating" data-size="sm"
        value=<%= shop.averate_rating %> >
      <div class="description quote"><p><%= shop.description %></p></div>
    </div>
  </div>
</div>
