<div class="block-shop-header clearfix">
  <div class="shop-cover">
    <h2 class="row_h2">
      <%= @shop.name %>
      <%= link_to t(".edit"), edit_dashboard_shop_path(@shop),
        class: "btn btn-success pull-right margin_right_10px" %>
    </h2>
    <%= image_tag @shop.cover_image.url %>
    <div class="shop-info-wrapper col-md-12">
      <div class="shop-avatar-wrapper row">
        <div class="col-sm-3 col-xs-3 shop-avatar">
        <%= image_tag @shop.avatar.url %>
        </div>
      </div>
    </div>
    <div class="col-md-12 shop-nav-wrapper">
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
          <div class="row shop-basic-info margin_top_shop">
            <h4 class="title">
              <%= @shop.name %>
              <%= render "shared/shop_status_label", shop: @shop %>
            </h4>
            <h4>
              <%= link_to t("dashboard.order.view_order_list"),
                dashboard_shop_orders_path(@shop.id),
                class: "btn btn-theme width_btn" %>
              <%= link_to t("dashboard.order.view_history_orders"),
                dashboard_shop_order_managers_path(@shop.id),
                class: "btn btn-theme" %>
            </h4>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="panel panel-info shop_user">
            <div class="panel-heading">
              <%= t "common.shop_managers" %>
            </div>
            <div class="panel-body">
              <% @shop.users.each do |user| %>
                <%= link_to user, class: "user-item-image" do %>
                  <%= image_tag user.avatar.url, alt: user.name %>
                <% end %>
              <% end %>
            </div>
            <div class="panel-footer">
              <%= link_to t("common.btn_view_all"),
                dashboard_shop_shop_managers_path(@shop),
                class: "btn btn-default btn-block" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 description-wrapper style_coffee">
    <div class="quote">
      <%= t @shop.description %>
    </div>
  </div>
</div>
<div class="row">
  <h2 class="section_title margin_right_15px row_h2">
    <div class="btn_view_all_wrapper pull-right">
      <%= link_to t("common.create_button"),
        new_dashboard_shop_product_path(@shop),
        class: "btn btn_view_all btn-warning" %>
    </div>
    <% if @products.any? %>
      <%= t ".has_products" %>
    <% else %>
      <%= t ".no_product" %>
    <% end %>
  </h2>
  <div class="box_pro">
    <%= render "products" if @products.any? %>
  </div>
</div>
