<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= l order.created_at, format: :short_date %>
      <div class="col-md-1">
        <div class="order-status-<%= order.id %>">
          <%= status_order order %>
        </div>
      </div>
      <%= link_to t("accept_all"),
        dashboard_shop_order_path(@shop.id, order.id),
        class: "btn btn-info pull-right", method: :put %>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <%= render "order_products", order_products: order.order_products %>
      <div class="pull-right">
        <h4>
          <b><%= t ".total" %>: </b><%= order.total_price %> <%= t"cart.vnd" %>
        </h4>
      </div>
    </div>
  </div>
</div>
