<div class="panel panel-default" id="tabs">
  <div class="panel-body">
    <div class="dropdown action">
      <button class="list btn btn-primary btn-action btnPrev step1" id="tab-2" href="#step1" data-toggle="tab">
        <%= t "order_statistics.back"%>
      </button>
      <% if @accepted_order_products.any? %>
        <%= link_to t("order_statistics.done"),
          dashboard_shop_order_products_path(@shop.id),
         class: "list btn btn-success btn-action pull-right" %>
      <% end %>
    </div>
  </div>
</div>
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th><%= t "order_statistics.id" %></th>
            <th><%= t "order_statistics.name" %></th>
            <th><%= t "order_statistics.quantity" %></th>
            <th><%= t "order_statistics.price" %></th>
          </tr>
        </thead>
        <tbody>
          <% if @accepted_order_products.present? %>
            <%= render partial: "accepted_order_product", collection: @accepted_order_products %>
          <% else %>
            <tr>
              <td colspan="4", class="text-danger text-center">
                <%= t ".not_products_accepted" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
