<div class="panel panel-default" id="tabs">
  <div class="panel-body">
    <div class="dropdown action">
      <button class="list btn btn-primary btn-action btnPrev tab1" id="tab-2" href="#tab1" data-toggle="tab">
        <%= t "order_statistics.back"%>
      </button>

      <%= link_to t("order_statistics.done"), "#",
        method: :delete, id: "id_btn_done", class: "list btn btn-success btn-action pull-right" %>
    </div>
  </div>
</div>
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th><%= t "order_statistics.id" %></th>
            <th><%= t "order_statistics.name" %></th>
            <th><%= t "order_statistics.quantity" %></th>
            <th><%= t "order_statistics.price" %></th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "product", collection: @products %>
        </tbody>
      </table>
    </div>
  </div>
</div>
