<div class="content-page-admin">
  <h2 class="text-center"><%= t "dashboard.order.title" %></h2>
  <div class="flash-massage"></div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th><%= t "dashboard.order.id" %></th>
          <th><%= t "dashboard.order.created_at" %></th>
          <th><%= t "dashboard.order.user_name" %></th>
          <th><%= t "dashboard.order.total_pay" %></th>
          <th><%= t "dashboard.order.status" %></th>
          <th><%= t "dashboard.order.confirm" %></th>
          <th><%= t "dashboard.order.detail_order" %></th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each_with_index do |order, index| %>
          <tr>
            <td>
              <%= index + 1 %>
            </td>
            <td><%= order.created_at %></td>
            <td><%= order.user.name %></td>
            <td><%= order.total_pay %> <%= t "cart.vnd" %> </td>
            <td>
              <div class="order-status-<%= order.id %>">
                <%= status_order order %>
              </div>
            </td>
            <td class="col-md-1">
              <select  class="form-control status-order">
                <% @shop.orders.statuses.keys.each do |status| %>
                  <%= option_status status, order %>
                <% end %>
              </select>
            </td>
            <td class="text-center">
              <%= link_to dashboard_shop_order_path(@shop, order) do %>
                <i class="text-primary glyphicon glyphicon-eye-open"> </i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <%= paginate @orders, theme: "twitter-bootstrap-3" %>
</div>
