<% provide :title, t(".title") %>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-success">
      <table class="table table-striped table-hover table-bordered">
        <thead class="">
          <tr>
            <th><%= t "common.number" %></th>
            <th><%= t ".name" %></th>
            <th><%= t ".email" %></th>
            <th><%= t ".chatwork" %></th>
            <th><%= t ".avatar" %></th>
            <th><%= t ".description" %></th>
            <th><%= t ".actions" %></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each_with_index do |user, index| %>
            <tr>
              <td><%= increase_one index %></td>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= user.chatwork_id %></td>
              <td>
                <div class="user_avatar btn btn-success">
                  <%= t ".show_avatar" %>
                  <span>
                    <%= image_tag user.avatar.url,
                      class:"thumbnail" %>
                  </span>
                </div>
              </td>
              <td><%= user.description %></td>
              <td>
                <input type="hidden" value="<%= user.id %>" class="user_id">
                <%= link_to t("common.edit_button"),
                  edit_admin_user_path(user), class: "btn btn-primary" %>
                <%= link_to t("common.delete_button"), admin_user_path(user),
                  method: :delete, class: "btn btn-danger" %>
                <input type="button" value="<%= user.status %>"
                  class="btn btn-sm btn-danger btn_block" >
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
