<div class="product_item_wrapper">
  <div class="product_content_area">
    <div class="image_product">
      <%= link_to product do %>
        <%= image_tag product.image.url, class: "image-shop" %>
      <% end %>
        <h4><strong><i>
          <%= t "cart.order_time_text" %>
          <%= l product.start_hour, format: :short_time %>
          <%= t "split" %>
          <%= l product.end_hour, format: :short_time %>
        </i></strong></h4>
    </div>
  </div>
  <div class="description_area row">
    <div class="col-md-2">
      <%= link_to product do %>
        <span class="shop-avatar">
          <%= image_tag product.shop_avatar.url %>
        </span>
      <% end %>
    </div>
    <div class="col-md-10">
      <div>
        <strong><%= link_to product.shop_name, product.shop %></strong>
      </div>
      <div class="product_text">
        <strong><%= product.name %></strong>
      </div>
      <div class="product_text">
        <%= format_price product.price %>
      </div>
    </div>
  </div>
  <div class="interaction_area">
       <%= link_to cart_path(product.id), remote: true,
        method: :put, class: "btn btn_add_to_cart",
        disabled: Time.now.is_between_short_time?(product.start_hour, product.end_hour) do %>
          <span class="glyphicon glyphicon-shopping-cart"></span>
          <%= t "cart.add_to_card" %>
        <% end %>
    <%= link_to product, class: "btn btn-default btn_add_favorite" do %>
      <span class="glyphicon glyphicon-eye-open"></span>
      <%= t "common.view_button" %>
    <% end %>
  </div>
</div>
