<div class="product_item_wrapper">
  <div class="product_content_area">
    <%= link_to product do %>
      <%= image_tag product.image.url, class: "img-responsive" %>
    <% end %>
  </div>
  <div class="description_area row">
    <div class="col-md-2">
      <%= link_to product do %>
        <span class="shop-avatar">
          <%= image_tag product.shop_avatar.url %>
        </span>
      <% end %>
    </div>
    <div class="col-md-10">
      <div>
        <%= link_to product.shop_name, product.shop %>
      </div>
      <div class="product_text">
        <%= product.name %>
      </div>
    </div>
  </div>
  <div class="interaction_area">
    <%= link_to cart_path(product.id), remote: true,
      method: :put, class: "btn btn_add_to_cart" do %>
        <span class="glyphicon glyphicon-shopping-cart"></span>
        <%= t "cart.add_to_card" %>
      <% end %>
    <%= link_to product, class: "btn btn-default btn_add_favorite" do %>
      <span class="glyphicon glyphicon-eye-open"></span>
      <%= t "common.view_button" %>
    <% end %>
  </div>
</div>
