<div class="well">
  <div class="media">
    <%= link_to product, class: "pull-left item-thumbnail" do %>
      <%= image_tag product.image.url, class: "media-object" %>
    <% end %>
    <div class="media-body">
      <h3 class="media-heading">
        <i class="fa fa-shopping-bag"></i>
        <%= link_to product.name, product %>
      </h3>
      <p class="text-right">
        <%= number_to_currency product.price %>
      </p>
      <p><%= product.description %></p>
      <ul class="list-inline list-unstyled">
        <li>
          <span>
            <i class="fa fa-shopping-cart"></i>
            <%= link_to product.shop_name, product.shop %>
          </span>
        </li>
        <li>|</li>
        <li>
          <i class="fa fa-tags"></i>
          <%= t "livesearch.product_tags", number: product.tags.size %>
        </li>
        <li>|</li>
        <li>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star-empty"></span>
        </li>
        <li>|</li>
        <li>
          <%= social_share_button_tag product.name %>
        </li>
      </ul>
    </div>
  </div>
</div>
