<div class="line">
  <div class="unit7">
    <div class="m-panel pad-50">
      <div class="aligner-c" id="product_preview">
      <%= image_tag @product.image.url %>
      </div>
    </div>
    <div class="a-divider--hidden"></div>
    <div class="bordered rounded bg-eb-white">
    <%= render "shared/comments", object: @product, comment: @comment,
      comments: @comments %>
    </div>
  </div>

  <div class="unit5">
    <div class="m-panel pad-50">
    <h3 class="capcase lead mar-bottom-20">
      <strong><%= @product.name %></strong>
    </h3>
    <div class="a-divider--fit"></div>
    <div class="aligner-jsc wp100 h40">
    <p class="lead eb-orange mar-bottom-0">
      <%= number_to_currency @product.price %>
    </p>
    </div>
    <div class="a-divider--fit mar-bottom-30"></div>
    <div class="mar-bottom-20" id="product-truncatecontent">
    <p><%= @product.description %></p>
    </div>
    <div class="hide mar-bottom-20" id="product-fullcontent">
    <p><%= @product.description %></p>
    <a onclick="Product.show_truncate_content('#product-truncatecontent')" class="eb-cyan mar-bottom-30" href="javascript:">Thu gọn</a>
    </div>
    <div class="mar-bottom-30">
      <div class="a-divider--fit"></div>
    </div>
    <%= link_to cart_path(@product), remote: true,
      method: :put, class: "btn btn-warning" do %>
      <span class="glyphicon glyphicon-shopping-cart"></span>
      <%= t "cart.add_to_card" %>
    <% end %>
    </div>
    <div class="a-divider--hidden"></div>
    <div class="m-panel">
      <div class="row">
        <div class="col-md-2">
          <span class="shop-thumbnail">
            <%= image_tag @product.shop_avatar.url %>
          </span>
        </div>
        <div class="col-md-10">
          <h3>
            <%= link_to @product.shop_name, @product.shop,
              class: "capcase lead mar-bottom-20" %>
          </h3>
          <p class="smallcaps mar-right-10">
            <%= t "common.product_number",
              number: @product.shop.products.size %>
          </p>
        </div>
      </div>
      <div class="m-panel__content">
        <div class="line">
          <% @product.shop.products.each do |product| %>
            <div class="unit3">
              <%= link_to product do %>
                <span class="product-thumbnail">
                  <%= image_tag product.image.url, alt: product.name %>
                </span>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="a-divider--fit"></div>
        <div class="unit">
          <%= link_to t("common.btn_view_all"), @product.shop,
            class: "btn btn-success btn-block" %>
        </div>
      </div>
    </div>
  </div>
</div>
