<div class="home-header">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <img src="/assets/logo.png" alt="<%= t "common.base_title" %>">
        </a>
        <button type="button" class="navbar-toggle collapsed">
          <span class="sr-only"><%= t "common.toggle_navigation" %></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse">
        <%= form_tag search_path, method: :get,
          class: "search-form navbar-form navbar-left dropdown" do %>
          <div class="form-group">
            <%= text_field_tag :search, params[:search],
              class: "form-control search dropdown-toggle",
              placeholder: t("livesearch.search_placeholder"),
              "data-toggle": "dropdown", "aria-hidden": :true,
              autocomplete: :off, required: true, id: "live-search-form" %>
            <ul class="dropdown-menu">
              <div id="livesearch"></div>
              <div id="livesearch_loading"></div>
            </ul>
          </div>
          <%= button_tag type: :submit, class: "btn btn-default" do %>
            <i class="fa fa-search"></i>
          <% end %>
        <% end %>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
              role="button" aria-expanded="false">
              <span class="glyphicon glyphicon-shopping-cart"></span>
              <span class="items-count"><%= @cart.count %></span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-cart" role="menu">
              <%= render "shared/cart" %>
              <li class="divider"></li>
              <li>
                <%= link_to t("cart.view_cart_all"), carts_path, class: "text-center" %>
              </li>
            </ul>
          </li>
          <li class="navbar-orders">
            <%= link_to orders_path do %>
              <i class="fa fa-list-ol"></i>
              <span><%= t "common.your_orders" %></span>
            <% end %>
          </li>
          <li class="block-notification-dropdown dropdown">
            <a href="#" id="notifications-dropdown" class="dropdown-toggle"
              data-toggle="dropdown">
              <div>
                <div class="icon-notification">
                  <i class="fa fa-bell fa-lg"></i>
                </div>
                <span><%= t "common.notifications" %></span>
              </div>
            </a>
            <ul class="dropdown-menu" role="menu"
              aria-labelledby="notifications-dropdown">
              <li class="header clearfix">
                <h4 class="title">
                  <span><%= t "common.notifications" %></span>
                </h4>
              </li>
              <li>
                <p class="no-notification">
                  <span><%= t "common.no_notifications" %></span>
                </p>
              </li>
            </ul>
          </li>
          <% if user_signed_in? %>
          <li class="navbar-user dropdown">
            <a href="#" id="basic-nav-dropdown" data-toggle="dropdown"
              class="dropdown-toggle" role="button">
              <div>
                <span class="user-avatar">
                  <%= image_tag current_user.avatar.url %>
                </span>
                <span class="user-title"><%= current_user.name %>
                  <b class="caret"></b>
                </span>
              </div>
            </a>
            <ul class="dropdown-menu" role="menu"
              aria-labelledby="basic-nav-dropdown">
              <li role="presentation" class="">
                <%= link_to user_path(current_user) do %>
                  <i class="fa fa-user"></i>
                  <span><%= t "header.account" %></span>
                <% end %>
              </li>
              <li role="separator" class="divider"></li>
              <li role="separator" class="divider"></li>
              <li role="presentation" class="">
                <%= link_to dashboard_shops_path do %>
                  <i class="fa fa-flag-o"></i>
                  <span><%= t "header.shop_manager" %></span>
                <% end %>
              </li>
              <% if current_user.shops.any? %>
                <li role="separator" class="divider"></li>
                <li role="presentation" class="">
                  <%= link_to dashboard_path do %>
                    <i class="fa fa-bar-chart"></i>
                    <span><%= t "header.shop_statistic" %></span>
                  <% end %>
                </li>
              <% end %>
              <li role="separator" class="divider"></li>
              <li role="presentation" class="">
                <a role="menuitem" href="#" tabindex="-1">
                  <i class="fa fa-ticket"></i>
                  <span><%= t "header.report_abuse" %></span>
                </a>
              </li>
              <li role="separator" class="divider"></li>
              <li role="presentation" class="">
                <%= link_to edit_user_registration_path do %>
                  <i class="fa fa-cog"></i>
                  <span><%= t "header.settings" %></span>
                <% end %>
              </li>
              <li role="presentation" class="">
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fa fa-sign-out"></i>
                  <span><%= t "header.logout" %></span>
                <% end %>
              </li>
            </ul>
          </li>
          <% else %>
            <li class="navbar-user dropdown">
              <a href="#" id="basic-nav-dropdown" data-toggle="dropdown"
                class="dropdown-toggle user-avatar" role="button">
                <span class="glyphicon glyphicon-user"></span>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu" role="menu"
                aria-labelledby="basic-nav-dropdown">
                <li role="presentation" class="">
                  <%= link_to new_user_session_path do %>
                    <i class="fa fa-sign-in"></i>
                    <span><%= t "header.sign_in" %></span>
                  <% end %>
                </li>
                <li role="separator" class="divider"></li>
                <li role="presentation" class="">
                  <%= link_to user_facebook_omniauth_authorize_path do %>
                    <i class="fa fa-facebook-official primarys"></i>
                    <span><%= t "header.sign_in_fb" %></span>
                  <% end %>
                </li>
                <li role="separator" class="divider"></li>
                <li role="separator" class="divider"></li>
                <li role="presentation" class="">
                  <%= link_to new_user_registration_path do %>
                    <i class="fa fa-plus-square"></i>
                    <span><%= t "header.sign_up" %></span>
                  <% end %>
                </li>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</div>
